$white: #EAE5DB;
$deepBlue: #525be1;
$lightbeige: #FFECD2;
$beige: #FED1B9;
$darkbeige: #ffd69c;
$deepPurple: #583098;
$fadedPurple: #9b82c2;
$purple: #803cff;
$palepurple: #d4d1ff;
$palepurple2: #f1ecff;
$pink: #fe5f55;
$orange: #fcb69f;
$black: #282828;