//Main
$colloquial: hsl(4, 99%, 66%);
$black: hsl(60, 1%, 14%);
$white: hsl(40, 26%, 89%);
$whiteFade: hsl(40, 36%, 79%);
$whiteFadeMore: hsl(40, 36%, 65%);

// Chatter & Apps

//Twordle
$twordleMain: hsl(36, 58%, 73%);
$twordleDark: hsl(0, 0%, 14%);
$twordleOrange: hsl(34, 64%, 53%);
$twordleGreen: hsl(120, 38%, 42%);
$twordlePurple: hsl(261, 70%, 59%);
