@use "./colours.scss" as *;
@use "../css/default.scss" as d;

.faded {
  opacity: 0.5;
}

.grouped {
  display: flex;
  flex-direction: var(--flex);
  .inputSubtitle {
    color: $white;
  }
}

.inputBlock {
  width: calc(85% - 1rem);
  max-width: calc(85% - 1rem);
  padding: 0.5rem;
  margin: 0.15rem 0;
  &.grouped {
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
  }
  &.grid {
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    padding: 0.5rem;
  }
  display: grid;
  grid-template-columns: 50% 50%;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.4rem;
  &:hover {
    background-color: fade-out($white, 0.9);
  }

}

@container (max-width: 550px){
  .inputBlock:has(.radioGroup){
    grid-template-columns: 1fr 2fr;
  }
}

@container (max-width: 350px){
  .inputBlock:has(.radioGroup){
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    :global(.radioGroup){
      justify-self: center;
      //background-color:red;
    }
  }
}

.inputBlockVert {
  grid-template-columns: 1fr;
}

h2 {
  color: $white;
  font-weight: bold;
  margin: 0;
  font-size: large;
  font-family: "Poppins";
  //padding-right: 1rem;
}

.inputSubtitle {
  color: $white;
  font-size: 0.85rem;
  font-style: italic;
  line-height: initial;
  vertical-align: text-bottom;
  margin: 0.35em 0;
  opacity: 0.7;
}

div {
  position: relative;
  display: flex;
  flex-direction: var(--flex);
  padding: 0.2rem 0rem;
  margin: 0.2rem 0;
  align-items: center;
  width: calc(100% - 3rem);
}

.inputName{
  padding-right: 0.5rem;
}

//CONTAINERS
@container (max-width: 350px){
  .inputBlock:has(.radioGroup){
    :global(.radioOption) {
      padding: 0.4em;
      margin: 0.1em;
    }
  }
  .inputSubtitle {
    font-size: 0.7rem;
  }
}