#chatBoundary {
  position: relative;
  --flex: column;
  --align: flex-start;
  display: flex;
  width: calc(100% - 1rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  flex-direction: var(--flex);
  overflow: hidden;
  align-items: var(--align);
  justify-content: end;
}

$marginY: 2.5px;
$paddingY: 5px;

section{
  min-width: 100%;
  min-height: 100%;
  //background-color: #262d36;
  border-radius: 1rem;
}

.chatBubble{
  --fontCol: #fff;
  --userCol: #2fa578;
  --bubbleCol: #2fa578;

  --marginY: 2.5px;
  --paddingY: 5px;

  --marginX: 10px;
  --paddingX: 15px;

  position: relative;
  color: var(--fontCol);
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-self: end;
  width: max-content;
  max-width: calc(100% - 25px - 20px - 0.5rem);
  border-radius: 0.5rem;
  font-weight: normal;
  opacity: 0;
  overflow-wrap: break-word;
  background-color: var(--bubbleCol);
  color: var(--userCol);
  z-index: 1;
  padding: var(--paddingY) var(--paddingX) var(--paddingY) var(--paddingX);
  margin: var(--marginY) var(--marginX) var(--marginY) var(--marginX);
  --animName: fadeIn;
  --animTime: 0.5s 
  --animEase: ease-in;
  --animHeight: 35px;

  b{
    white-space: pre;
  }

  p {
    display: block;
    color: var(--fontCol);
    margin: 0;
  }
  span {
    display: contents;
    align-items: center;
  }
  .twitchBadge:first-of-type{
    margin-left: -0.2rem;
  }
}

#chatBackground{
  --bgOpacity: 0;
  --bgColour: #262d36;
  
  background-color: var(--bgColour);
  opacity: var(--bgOpacity);
  position: absolute;
  border-radius: 1rem;
  left: 0;
  top: 0;
  min-width: calc(100% - 1rem);
  min-height: 100%;
  z-index: 0;
} 

.emote{
  height: 1.1em;
  padding-bottom: 0.2rem;
  vertical-align: middle;
}

.bigEmote{
  height: 2rem;
  margin: 0.2rem 0 ;
  vertical-align: middle;
}

.twitchBadge {
  padding: 0.1rem;
  height: 1.1em;
  vertical-align: middle;
  padding-bottom: 0.2rem;
}

.pronoun {
  --proColour: #ffffff;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  //font-size: 0.8rem;
  border-style: solid;
  display: inline !important;
  width: fit-content;
  color: var(--proColour);
  border-color: var(--proColour);
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100%;}
}